h1 {
  text-align: center;
}
h1#principal {
  text-align: left;
}
.aprender {
  text-align: center;
  background-color: yellow;
}
.comer {
  color: red;
}
div > p {
  display: none;
}
div:hover > p {
  display: block;
}
